header h1 {
  text-align: center;
}
div {
  background-color: seagreen;
  color: white;
  padding: 15px;
  margin: 10px;
}
img {
  max-width: 45%;
}

.div-satu {
  background-color: burlywood;
  border-radius: 10%;
  box-sizing: border-box;
  transform: translateY(-10px);
}
.div-dua {
  background-color: chartreuse;
  border-radius: 10%;
  box-sizing: border-box;
  transform: translateY(-10px);
}
.div-tiga {
  background-color: black;
  border-radius: 10%;
  box-sizing: border-box;
  transform: translateY(-10px);
}
.div-empat {
  background-color: dimgray;
  border-radius: 10%;
  box-sizing: border-box;
  transform: translateY(-10px);
}

@media screen and (min-width: 900px) {
  main {
    display: flex;
  }
}
footer {
  text-align: center;
}
